.arrayInput {
    width: 300px;
}

.yarrayContainer {
    position: relative;
    top: 90px;
}

.arrayLi {
    display: flex;
    justify-content: space-between;
}

.deleteSpan {
    background-color: red;
    text-align: center;
    width: 20px;
    height: 20px;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
}