/* The sidebar menu */
.filenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #11163f;
    overflow-x: hidden;
    padding-top: 20px;
    color: #c4c4c4;
}



/* Style page content */
.main-content {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0 10px;
}