.all {
    /*color: #d0cece;*/
    color: rgb(97,97,97);
}

/* The sidebar menu */
.filenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #2d333b;*/
    background-color: rgb(243,243,243);
    box-shadow: 5px 3px 3px 0px rgba(31,31,31,0.2);
    overflow-x: hidden;
    padding-top: 20px;

}



/* Style page content */
.main-content {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 20px;
    position: fixed;
    background-color: rgb(243,243,243);
    height: 100%;
    width: calc(100vw - 160px);
}